.peopleBlock{
    padding: 20px;
}

.peoples{
    display: flex;
    width: 300px;
    height: 40px;
    align-items: center;
}

.peoples p{
    width: 200px;
}

.peoples span{
    padding-left: 40px;
}

.buttons{
    padding: 20px;
    display: flex;
}