.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    border: 1px solid white;
    min-height: 260px;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}