.superInput {
    margin: 10px;
    background-color: white;
    border: 1px solid blue;
    color: blue;
    outline: none;
}

.errorInput {
    margin: 10px;
    background-color: white;
    border: 3px solid lime;
    color: blue;
    outline: none;
}

.error {
    color: red;
}